@tailwind base;
@tailwind components;
@tailwind utilities;


.red-gradient {
  background: linear-gradient(92deg, #5664ff56 2.87%, #1e44ee46 96.18%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}
